<!DOCTYPE html>
<html lang="en" ng-app="RoverApp">
<head>
  <meta charset="utf-8">
  <title>MadSpace Rover</title>
  <!-- link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" -->
  <script src="/static/angular.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.js"></script>
  <script src="/static/jquery.min.js"></script>
  <script src="/static/jquery.throttle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css" />

  <script type="text/javascript">
  angular.module('RoverApp', [])
    .controller('RoverController', function($scope, $rootScope, $http, $timeout) {
      $scope.control = {'drive_axis': 0, 'steer_axis': 0, 'rotate_axis': 0};
      $scope.webcam = {'yaw': 0, 'pitch': 0};

      var tick = function() {
          $http.get('status').success(function (rover) {
              if(!$rootScope.paused) {
                  $scope.updating = true;
                  $scope.rover = rover;

                  $timeout(function() {$scope.updating = false});
              }
              $timeout(tick, 1000);
          });
      }
      tick();

      $scope.stop = function() {
          $http.post('/control/stop');
      };

      $scope.straight = function() {
          $http.post('/control/straight');
      };

      $scope.$watch('control', $.throttle(150, function(control) {
          if(control)
              $http.post('/control', control);
      }), true);

      $scope.$watch('webcam', $.throttle(150, function(webcam) {
            if(webcam)
                $http.post('/webcam', webcam);
      }), true);

      /**
       *
       */
      var wheels = ['front_left', 'center_left', 'back_left', 'front_right', 'center_right', 'back_right'];
      for(id in wheels) {
          (function() {
              var wheel_name = wheels[id];
              $scope.$watch('rover.drivetrain.' + wheel_name, function(obj) {
                  if(obj && !$scope.updating) {
                     $http.post('/update/wheel/' + wheel_name, obj);
                  }
              }, true);
          })();
      }


  }).directive('wheel', function() {
      return {
          scope: {wheel: '=', 'name': '=', 'center': '='},
          template:
            '<h3>{{name}}</h3>'
          + 'Speed: {{wheel.speed}} meters per second<br />'
          + '<input type="range" min="-0.25" max="0.25" step="0.01" ng-model="wheel.speed" pause-polling><br />'
          + '<span ng-hide="center">Rotation: {{wheel.rotation}} radians<br />'
          + '<input type="range" min="-0.2" max="2" step="0.02" ng-model="wheel.rotation" pause-polling></span>'
      };
  }).directive('pausePolling', function($rootScope) {
      return {
          link: function(scope, element) {
            element.on('mousedown focus', function() {
                $rootScope.paused = true;
            }).on('mouseup blur', function() {
                $rootScope.paused = false;
            })
          }
      }
  });

  ;
  </script>
  <style>
  div.wheel {
      border: 1px solid #aaa;
			padding: 10px;
			border-radius: 10px;
			margin: 20px;

			background-color: #eee;
  }

  div.drivetrain_side {
  }

  rect.wheel {
      fill: rgb(215, 94, 94);
      stroke: black;
      stroke-width: 0.01;
      stroke-dasharray: 0.05 1;
  }
  </style>
</head>
<body ng-controller="RoverController">

	<div class="container" id="drivetrain">
		<h1>M.A.R.S.</h1>
		<div class="row">
			<div class="col-sm-4">
		    <div class="drivetrain_side">
		      <div class="wheel" wheel="rover.drivetrain.front_left" name="'Front Left'"></div>
		      <div class="wheel" wheel="rover.drivetrain.center_left" name="'Center Left'" center="true"></div>
		      <div class="wheel" wheel="rover.drivetrain.back_left" name="'Back Left'"></div>
		    </div>
			</div>
			<div class="col-sm-4">
				<br>
			  <svg style="border: 1px solid #aaa; border-radius: 10px; width: 100%; height: 300px" viewBox="-0.5 -0.5 1 1">
			      <g ng-attr-transform="translate({{rover.drivetrain.front_left.x}}, {{-rover.drivetrain.front_left.y}}) rotate({{rover.drivetrain.front_left.rotation * 180 / 3.1415}} 0 0)"><rect x="-0.025" width="0.05" y="-0.05" height="0.1" class="wheel"/></g>
			      <g ng-attr-transform="translate({{rover.drivetrain.center_left.x}}, {{-rover.drivetrain.center_left.y}}) rotate({{rover.drivetrain.center_left.rotation * 180 / 3.1415}} 0 0)"><rect x="-0.025" width="0.05" y="-0.05" height="0.1" class="wheel"/></g>
			      <g ng-attr-transform="translate({{rover.drivetrain.back_left.x}}, {{-rover.drivetrain.back_left.y}}) rotate({{rover.drivetrain.back_left.rotation * 180 / 3.1415}} 0 0)"><rect x="-0.025" width="0.05" y="-0.05" height="0.1" class="wheel"/></g>

			      <g ng-attr-transform="translate({{rover.drivetrain.front_right.x}}, {{-rover.drivetrain.front_right.y}}) rotate({{rover.drivetrain.front_right.rotation * 180 / 3.1415}} 0 0)"><rect x="-0.025" width="0.05" y="-0.05" height="0.1" class="wheel"/></g>
			      <g ng-attr-transform="translate({{rover.drivetrain.center_right.x}}, {{-rover.drivetrain.center_right.y}}) rotate({{rover.drivetrain.center_right.rotation * 180 / 3.1415}} 0 0)"><rect x="-0.025" width="0.05" y="-0.05" height="0.1" class="wheel"/></g>
			      <g ng-attr-transform="translate({{rover.drivetrain.back_right.x}}, {{-rover.drivetrain.back_right.y}}) rotate({{rover.drivetrain.back_right.rotation * 180 / 3.1415}} 0 0)"><rect x="-0.025" width="0.05" y="-0.05" height="0.1" class="wheel"/></g>

			  </svg>
				<br><br>

				<div class="btn-group">
				  <button class="btn btn-default" ng-click="stop()">Stop</button>
				  <button class="btn btn-default" ng-click="straight()">Straight</button>
				</div>

				<br>
				<div class="form-group">
				  <label>Sturen:</label>
						<input class="form-control" type="range" min="-1" max="1" step="0.02" ng-model="control.steer_axis" pause-polling><br>
						<input class="form-control" ng-model="control.steer_axis">
				</div>
				<div class="form-group">
				  <label>Snelheid: </label>
					<input class="form-control" type="range" min="-1" max="1" step="0.02" ng-model="control.drive_axis" style="-webkit-appearance: slider-vertical" pause-polling><br>
					<input class="form-control" ng-model="control.drive_axis">
				</div>
				<div class="form-group">
				  <label>Yaw: </label>
					<input class="form-control" type="range" min="-1" max="1" step="0.02" ng-model="webcam.yaw" style="-webkit-appearance: slider-vertical" pause-polling><br>
					<input class="form-control" ng-model="webcam.yaw">
				</div>
				<div class="form-group">
				  <label>Pitch: </label>
					<input class="form-control" type="range" min="-1" max="1" step="0.02" ng-model="webcam.pitch" style="-webkit-appearance: slider-vertical" pause-polling><br>
					<input class="form-control" ng-model="webcam.pitch">
				</div>
			</div>
			<div class="col-sm-4">
		    <div class="drivetrain_side">
		      <div class="wheel" wheel="rover.drivetrain.front_right" name="'Front Right'"></div>
		      <div class="wheel" wheel="rover.drivetrain.center_right" name="'Center Right'" center="true"></div>
		      <div class="wheel" wheel="rover.drivetrain.back_right" name="'Back Right'"></div>
		    </div>
			</div>
		</div>

	</div>
</body>
</html>
